.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
rstart
rstart.1
rstartd
rstartd.1
rstartd.real
stamp-h1
